In [1]:
from datetime import datetime
from datetime import date
from datetime import time
from datetime import timedelta

In [2]:
d1 = date(2019, 3, 12)
print(d1)
print(d1.year)
print(d1.month)
print(d1.day)

2019-03-12
2019
3
12

In [3]:
t1 = time(23, 10, 59)
print(t1)
print(t1.hour)
print(t1.minute)
print(t1.second)

23:10:59
23
10
59

In [4]:
print(date.today())

2020-03-27

In [6]:
print(date.max)
print(date.min)
print(time.max)
print(time.min)

9999-12-31
0001-01-01
23:59:59.999999
00:00:00

In [7]:
dt = datetime(2019, 3, 12, 23, 10, 59)
print(dt)

2019-03-12 23:10:59

In [8]:
print(dt.date().year)
print(dt.time().hour)

2019
23

In [9]:
print(dt.max)
print(dt.min)

9999-12-31 23:59:59.999999
0001-01-01 00:00:00

In [26]:
now = datetime.now()
print(now)

2020-03-28 00:35:18.766546

In [27]:
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2020
3
28
0
35
18

In [28]:
new_dt = now.replace(year = 2011)
print(new_dt)
print(now)

2011-03-28 00:35:18.766546
2020-03-28 00:35:18.766546

In [29]:
dt2 = datetime.strptime("30/08/2003", "%d/%m/%Y")
print(dt2, "\n")

dt3 = datetime.strptime("30/08/03 20:34", "%d/%m/%y %H:%M")
print(dt3)

2003-08-30 00:00:00

2003-08-30 20:34:00

In [30]:
import locale
locale.setlocale(locale.LC_ALL, "")

'ru_RU.UTF-8'

In [33]:
now = datetime.now()
print(now.strftime("%Y-%m-%d (%a)"))
print(now.strftime("%Y %B %d число (%A)"))

2020-03-28 (Сб)
2020 марта 28 число (Суббота)

In [36]:
delta = dt - now
print(delta, "\n", type(delta))

-382 days, 22:33:14.864916
 <class 'datetime.timedelta'>